
@font-face {  
  font-family: 'Sans';
  src: url('../font/Product-Sans-Bold-Italic-5.ttf');
  font-family: 'Bold';
  src: url('../font/Product-Sans-Bold-3.ttf');
  font-family: 'nomal';
  src: url('../font/Product-Sans-Regular-2.ttf');
}
body{
    font-family: nomal;
    padding: 0;
    margin: 0;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}